.user-welcome {
	background: url(https://cdn.greeninvoice.co.il/public-website/assets/1.0.379/img/8189bf3.jpg);
	background-position-x: center;
	background-size: cover;
	min-height: 100vh;
	.floating {
		position: absolute;
		top: 25%;
		right: 5%;
		h1 {
			font-size: 7.5rem;
		}
		p {
			font-size: 3rem;
			margin-bottom: 20px;
			text-align: center;
		}
		button {
			height: 2em;
			font-size: 3rem;
			&.accept-button {
				margin-bottom: 10px;
			}
		}
	}
	@media (max-width: 1200px) {
		.floating {
			h1 {
				font-size: 5rem;
			}
			p {
				font-size: 2rem;
			}
			button {
				font-size: 2rem;
			}
		}
	}
	@media (max-width: 700px) {
		background-position-x: right;
		display: flex;
		justify-content: center;
		align-items: center;
		.floating {
			position: static;
		}
	}
}
